@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;    
}

body {
    background-color: #f1f1f1;
    color: #444;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    padding: 20px;
    font-size: 20px;
    color: #d7d7d7;
    background-color: rgb(16, 24, 39);
}

main {
    padding: 50px 0;
}

.form {
    width: 50%;
    border-radius: 5px;
    background-color: #f6f6f6;
    padding: 20px;
}

.form h1 {
    font-weight: 400;
}

.form p {
    font-size: 18px;
    margin: 10px 0 30px 0;
}

.form input {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    color: #242424;
    outline: none;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #01010157;
    transition: all 0.3s ease;
}

.form input:focus {
    border-bottom: 2px solid #010101aa;
}

.profile {
    padding: 20px;
    margin-top: 20px;
}