@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;    
}

body {
    background-color: #f1f1f1;
    color: #444;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    padding: 20px;
    font-size: 20px;
    color: #d7d7d7;
    background-color: rgb(16, 24, 39);
    text-transform: uppercase;
    text-align: center;
}

main {
    padding: 50px 0;
}

.form {
    width: 60%;
    border-radius: 5px;
    background-color: #f6f6f6;
    padding: 20px;
    margin: 0 auto;
}

.form h1 {
    font-weight: 400;
    color: rgb(2,0,36);
}

.form p {
    font-size: 18px;
    margin: 10px 0 30px 0;
    color: rgb(2,0,36);
}

.form input {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    color: #242424;
    outline: none;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #01010157;
    transition: all 0.3s ease;
}

.form input:focus {
    border-bottom: 2px solid #010101aa;
}

.profile {
    padding: 10px;
    margin: 20px auto;
    width: 60%;
    background-color: rgb(0, 37, 132);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 0.8fr 1fr;
}

.profile .image {
    overflow: hidden;
    border-radius: 10px;
}

.profile .image img {
    width: 100%;
}

.profile .text {
    padding: 20px;
    color: #f1f1f1;
    align-self: center;
}

.profile .text span {
    display: block;
}

.profile .text .stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-top: 30px;
}

.stats .followers {
    background-color: rgb(4, 15, 45);
    border-radius: 3px;
    padding: 10px;
}

.stats .following {
    border-radius: 3px;
    padding: 10px;
    background-color: rgb(10, 22, 52);
}

.stats .number {
    font-size: 30px;
    background-color: transparent;
}

.username, .name,
.email, .bio {
    margin-bottom: 10px;
}